@tailwind base;
@tailwind components;
@tailwind utilities;

.change .bar1 {
  transform: translate(0, 8px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -4px) rotate(45deg);
}

.section {
  max-width: 1200px;
  margin: 0 auto;
}

.flow-down {
  transform: scaleY(1);
}
.flow-up {
  transform: scaleY(0);
}
